*{
    padding: 0;
    margin: 0;
}
:root{
    --main-bg: linear-gradient(220deg,rgb(254, 20, 254),rgb(0, 209, 251));
    --text-pri:black;
}
body{
    height: 100vh;
    width: 100vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background:var(--main-bg);
    display:grid;
    place-items: center;
}
.outCard{
    width: 90%;
    height: 85%;
    border-radius: 10px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    h1{
        margin: 10% 0;
    }
    .label{
        height: 10vh;
        width: 80%;
        border-bottom: 1px solid ;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        p{
            width: 90%;
            padding: 2%;
        }
        .in-wrap{
            width: 90%;
            //border: 1px solid;
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                width: 20px;
            }
            input{
                width: 80%;
                border: none;
                padding: 2% 3%;
            }
            input:focus{
                outline: none;
                
            }
        }
    }
}
.label-2{
    width: 80%;
    height: 5vh;
    display: flex;
    align-items: end;
    justify-content: end;
}
.btn{
    margin: 5% 0;
    width: 80%;
    height: 5vh;
    border-radius: 50px;
    border: none;
    background: var(--main-bg   );
}
.imgs{
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 5%;
    img{
        width: 30px;
    }
}
.final{
    width: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 15%;
    p{
        margin-top: 2%;
    }
}
@media (min-width: 700px) {
    .outCard{
        width: 50%;
    }
  }

  @media (min-width: 1000px) {
    .outCard{
        width: 30%;
    }
  }